---
layout: default
title: Home
---

<section id="about-blurb">
    <div class="section-body">
        <article>
            <p> Hi there! I'm Richard and this is my website. Personally and professionally my top focus is to learn and
                be a sponge to everything.I believe if we aren't learning, we aren't thriving. I love problem solving
                with technology, which I get to do in my work every
                day at Slack. </p>

            <br>
            <p><b>Check out my <a href="/about.html">about</a> page to learn more about me, and <a
                        href="/2021/02/06/this-website.html">this post</a> if
                    you want to know why I built this site!</b></p>
        </article>
    </div>
</section>

<section>
    <div class="section-header">
        <!-- <a href="/projects.html"> -->
        <h2>latest</h2>
        <!-- </a> -->
    </div>
    <div class="section-body">
        {% assign sorted_pages = site.data.project-data | sort:"order" | reverse %}
        {% for project in sorted_pages limit:1 %}
        {% include project.html %}
        {% endfor %}

        <a href="/projects.html">
            <h4>more projects</h4>
        </a>
    </div>
</section>

<section>
    <!-- <div class="section-header">
        <a href="/blog.html">
            <h2>blog</h2>
        </a>
    </div> -->
    <div class="section-body">
        {% for post in site.posts limit:3 %}
        {% include blog-excerpt.html %}
        {% endfor %}
        <a href="/blog.html">
            <h4>more posts</h4>
        </a>
    </div>
</section>