---
layout: default
title: Home
---

<section id="about-blurb">
    <div class="section-body">
        <article>

            <p> Howdy. I hope you're doing well 😊 </p>
        </article>
    </div>
</section>

<section>
    <div class="section-header">
        <!-- <a href="/projects.html"> -->
        <h2>latest</h2>
        <!-- </a> -->
    </div>
    <div class="section-body">
        {% assign sorted_pages = site.data.project-data | sort:"order" | reverse %}
        {% for project in sorted_pages limit:1 %}
        {% include project.html %}
        {% endfor %}

        <a href="/projects.html">
            <h4>more projects</h4>
        </a>
    </div>
</section>

<section>
    <!-- <div class="section-header">
        <a href="/blog.html">
            <h2>blog</h2>
        </a>
    </div> -->
    <div class="section-body">
        {% for post in site.posts limit:1 %}
        {% include blog-excerpt.html %}
        {% endfor %}
        <a href="/blog.html">
            <h4>more posts</h4>
        </a>
    </div>
</section>