{%- capture post_image -%}
{{ post.date | date: "%Y-%m-%d" }}-{{ post.title | remove: " -" | replace: " ", "-" | downcase }}.jpg
{% endcapture %}

<article class="blog-post magnify-article">
    <a style="display:block" href="{{ post.url }}">

        <div class="blog-post-title">

            <h3>{{ post.title | downcase | truncate: 50 }}</h3>
            <br>
            <p>{{post.date | date_to_string}}</p>

        </div>
        <div class="blog-post-content">
            <!-- <div class="blog-excerpt">
                {{ post.excerpt | strip_html }}
            </div> -->
            <div class=" img-homepage">
                <img src="/assets/blog-images/{{post_image}}" alt="Responsive image">
            </div>
        </div>
    </a>
</article>