{%- capture post_image -%}
{{ post.date | date: "%Y-%m-%d" }}-{{ post.title | remove: " -" | replace: " ", "-" | downcase }}-crop.JPG
{% endcapture %}

<article class="blog-post magnify-article">
    <a style="display:block" href="{{ post.url }}">

        <div>
            <p>{{post.date | date_to_string}}</p>

            <h3>{{ post.title | downcase }}</h3>
        </div>
        <div class="blog-post-content">
            <div class="blog-excerpt">
                {{ post.excerpt | strip_html }}
            </div>
            <div class=" img-homepage">
                <img src="/assets/blog-images/{{post_image}}" alt="Responsive image">
            </div>
        </div>
    </a>
</article>