{%- capture post_image -%}
{{ post.date | date: "%Y-%m-%d" }}-{{ post.title | remove: " -" | replace: " ", "-" | downcase }}.jpg
{% endcapture %}

<article class="blog-post magnify-article">
    <a class="blog-link" style="display:block" href="{{ post.url }}">

        <div class="blog-content">
            {% if post.no-image != true %}
            <div>
                <h3>{{ post.title | downcase | truncate: 50 }}</h3>
                <p class="blog-excerpt"> {{ post.excerpt | strip_html | truncate: 80 }}</p>
            </div>



            <img src="/assets/blog-images/{{post_image}}" alt="Responsive image">
            {% else %}

            <div style="width:100%">
                <h3>{{ post.title | downcase | truncate: 50 }}</h3>
                <p class="blog-excerpt"> {{ post.excerpt | strip_html | truncate: 180 }}</p>
            </div>
            {% endif %}

        </div>

    </a>
    <p class="blog-footer">
        <span>
            {{post.date | date_to_string}}
        </span>
        {% for category in post.categories %}
        {% if category != "blog" and category != "categories" %}
        <a href="/blog/categories/{{category}}.html">
            {{ category | capitalize }}
        </a>
        {% endif %}
        {% endfor %}
    </p>




</article>