<nav>
    <div id="nav-links">
        {% for item in site.data.navigation %}

        {% if page.url == "/" and page.url == item.link %}
        <a href="{{ item.link }}" class="current">{{ item.name }} </a>

        {% elsif item.link != "/" %}
        <a href="{{ item.link }}" {% if page.url contains item.link %}class="current" {% endif %}>{{ item.name }} </a>

        {% else %}
        <a href="{{ item.link }}">{{ item.name }} </a>

        {% endif %}

        {% endfor %}

    </div>



    {% include socials.html %}

</nav>