<article>
    <div class="project-header">
        <a href="{{ project.githubUrl }}" target="_blank" rel="noopener noreferrer">
            <h2>{{ project.name }}</h2>
        </a>
    </div>
    <div class="project-content">
        <div class="project-tags">
            <ul>
                {% for tag in project.topics.names %}
                {% if tag =="course-project" %}
                <label class="course-tag">{{ tag | upcase}}</label>
                {% else %}
                <a href="https://github.com/topics/{{tag}}" target="_blank" class="project-links-demo">
                    {{ tag | upcase}}
                </a>

                {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="project-about">
            <p>{{ project.description | markdownify }} </p>
        </div>
        <div class="project-links">
            <a href="{{ project.githubUrl }}" target="_blank" rel="noopener noreferrer" class="project-links-code">
                <h3>code</h3>
            </a>
            {% if project.homepage %}
            <a href="{{ project.homepage }}" target="_blank" class="project-links-demo">
                <h3>demo</h3>
            </a>
            {% endif %}
        </div>
    </div>
</article>