<article>
    <div class="project-header">
        <a href="{{ project.githubUrl }}" target="_blank" rel="noopener noreferrer">
            <h3>{{ project.name }}</h3>
        </a>
    </div>
    {% if project.image %}
    <div class="img-wrapper">
        <img src="assets/project-images/{{ project.image }}" alt="Responsive image">
    </div>
    {% endif %}
    <div class="project-content">
        <div class="project-about">
            <p>{{ project.description | markdownify }} </p>
        </div>
        <div class="project-tags">
            <ul>
                {% for tag in project.topics.names %}
                {% if tag =="course-project" %}
                <label class="course-tag">{{ tag | upcase}}</label>
                {% else %}
                <a href="https://github.com/topics/{{tag}}" target="_blank" class="project-links-demo">
                    {{ tag | upcase}}
                </a>

                {% endif %}
                {% endfor %}
            </ul>
        </div>

        <div class="project-links">
            <a href="{{ project.readme }}" target="_blank" rel="noopener noreferrer" class="project-links-code">
                <h4>readme</h4>
            </a>
            {% if project.homepage %}
            <a href="{{ project.homepage }}" target="_blank" class="project-links-demo">
                <h4>demo</h4>
            </a>
            {% endif %}
        </div>

    </div>
</article>