* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $background-light;
  // background-color: #1f1c1c;
  font-family: 'Lato', sans-serif;
  // font-weight: 200;
  color: $font-dark;
  // color: #c2c2c2;
  font-size: 16px;
}
#wrapper {
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
}

h1 {
  font-weight: lighter;
  font-size: 4em;
}

a {
  color: $font-dark;
  // color: #faf1f1;
  text-decoration: none;

  h1 {
    display: inline-block;
  }
}

h2 {
  font-weight: lighter;
  font-size: 3em;
}

h3 {
  font-weight: inherit;
  font-size: 2em;
}

h4 {
  font-weight: 500;
}

nav {
  background-color: $background-light-secondary;
  #socials {
    position: absolute;
    top: 0px;
    right: 0px;
  }

  .current {
    background-color: $background-light;
  }
}

.img-wrapper {
  // width: 100%;
  // height: 260px;
  padding-bottom: 10px;
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 260px;
  }
}

#socials,
#nav-links {
  margin-left: 10%;
  margin-right: 10%;
  a {
    display: inline-block;
    padding: 10px;
  }
  :hover {
    background-color: grey;
  }
}

#socials {
  text-align: center;
  margin-right: 10%;
}

section {
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 30px;

  .section-header {
    display: inline-block;
    text-align: center;
    width: 100%;
  }

  .section-body {
    display: grid;
    justify-items: center;
    padding: 6px 0px 6px 0px;
  }
}

section:last-of-type {
  margin-bottom: 70px;
}

article {
  background-color: $background-light-secondary;
  // background-color: #141414;
  position: relative;
  width: 500px;
  margin: 15px;
  padding: 30px;
}

/*
* About 
*/

#about-blurb {
  width: 100%;
  padding-left: 0%;
  padding-right: 0%;
  font-size: larger;

  article {
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 40px;
    width: 100%;
    border: none;
    border-radius: 0px;
    height: auto;
  }
}

#post-content {
  br {
    display: none;
  }
}
#post-content {
  p {
    br {
      display: inline;
    }
  }
}
/* 
  * Header 
  */

header {
  display: grid;
  justify-items: center;
}

#home-title {
  margin-top: 40px;
  div:nth-child(1) {
    display: inline-block;
    float: left;
    img {
      height: 200px;
    }
  }
  div:nth-child(2) {
    display: inline-block;
    margin-left: 30px;
    margin-top: 25px;
    img {
      border: solid;
      border-radius: 50%;
      height: 150px;
    }
  }
}

#home-title {
  div {
    h1:nth-child(1) {
      letter-spacing: 0.021em;
    }
  }
}

/* smartphones, touchscreens */
@media (hover: none) and (pointer: coarse) {
  #home-title {
    div {
      h1:nth-child(1) {
        letter-spacing: 0.05em;
      }
    }
  }
}

// Blog post

.blog-post {
  height: auto;
  .blog-post-content {
    .blog-excerpt {
      width: 70%;
    }
    p {
      overflow-wrap: break-word;
      word-wrap: break-word;

      -ms-word-break: break-all;
      word-break: break-word;
    }
    .img-homepage {
      position: absolute;
      height: 100%;
      max-width: 30%;

      vertical-align: middle;
      text-align: center;

      top: 0px;
      right: 0px;

      .helper {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
      }

      img {
        max-height: 100%;
        max-width: 100%;
        vertical-align: middle;
      }
    }
  }
}

.magnify-article:hover {
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
  transform: scale(1.02);
}

// Clouds
.cloud {
  background: $background-light-secondary;
  position: absolute;
  z-index: -1;
  height: 50px;
  width: 130px;
  margin-top: 100px;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
}

.cloud::before,
.cloud::after {
  content: '';
  background: inherit;
  display: inline-block;
  position: relative;
  border-radius: inherit;
}

.cloud::before {
  width: 60px;
  height: 60px;
  top: -30px;
  left: 40px;
}
.cloud::after {
  width: 30px;
  height: 30px;
  top: -50px;
  left: -40px;
}

// Cloud specific positioning.
#cloud1 {
  top: 35px;
  left: 5%;
}

#cloud2 {
  top: 80px;
  left: 80%;
}

#cloud3 {
  top: 205px;
  left: 15%;
}

#cloud4 {
  top: 30px;
  right: 30%;
}

/*
* Footer
*/

footer {
  display: grid;
  justify-items: center;
  background-color: $background-light-secondary;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

/*
Media queries
*/
@media (max-width: 800px) {
  #socials,
  #nav-links,
  section {
    padding-left: 0%;
    padding-right: 0%;
  }

  #about-blurb {
    article {
      padding-left: 10%;
      padding-right: 10%;
    }
  }
}

@media (max-width: 550px) {
  article {
    width: 450px;
  }

  #home-title {
    div:nth-child(1) {
      img {
        height: 150px;
      }
    }
    div:nth-child(2) {
      margin-left: 5px;
      margin-top: 20px;
      img {
        height: 115px;
      }
    }
  }

  nav {
    display: flex;
    flex-direction: column-reverse;
    #socials,
    #nav-links {
      margin-left: 0%;
      margin-right: 0%;
      text-align: center;
      position: static;
    }
  }

  .magnify-article:hover {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

@media (max-width: 400px) {
  article {
    width: 100%;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.5em;
  }

  section {
    // img {
    //   max-width: 100%;
    // }
  }

  .img-wrapper {
    // width: 100%;
    // height: 260px;
    // margin: 0px;
  }
}
