/* 
  * Projects  
  */

.project-header {
  padding-bottom: 10px;
}

.project-content {
  display: grid;
  grid-template-columns: 50% auto;

  div {
    vertical-align: top;
    flex-grow: 1;
  }
  .project-about {
    max-height: 200px;
    max-width: 100%;
    overflow: scroll;
  }
}

.project-tags {
  height: 80px;
  padding-bottom: 10px;
  overflow: scroll;
  a {
    text-decoration: none;
    display: inline-block;
    background-color: #d1c4e9;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 3px;
    margin-right: 3px;
  }
}

.course-tag {
  position: absolute;
  right: 0px;
  top: 35px;
  text-align: center;
  background-color: #9cd0d0;
  transform: rotate(30deg);
}

.project-links {
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-top: 10px;
  display: grid;
  grid-template-columns: auto;
  width: 100%;
  padding: 0 30px 10px;
  a {
    text-decoration: none;
    margin: 3px;
    border: solid thin;
    font-size: 1.2em;
    border-radius: 5px;
    text-align: center;
  }
}
