/* 
  * Projects  
  */

.project-header {
  padding-bottom: 10px;
}

.project-content {
  display: grid;
  grid-template-columns: 50% auto;

  div {
    vertical-align: top;
    flex-grow: 1;
  }
  .project-about {
    max-height: 200px;
    max-width: 100%;
    overflow: scroll;
  }
}

.project-tags {
  max-height: 200px;
  padding-bottom: 10px;
  overflow: scroll;
  a {
    text-decoration: none;
    display: inline-block;
    background-color: #d1c4e9;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 3px;
    margin-right: 3px;
  }
}

.course-tag {
  position: absolute;
  right: 5px;
  top: 0px;
  padding: 5px;
  border-radius: 10px;
  text-align: center;
  background-color: #9cd0d0;
}

.project-links {
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-top: 10px;
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
  a {
    margin: 3px;
    font-size: 1.2em;
    border-radius: 5px;
    text-align: center;
  }
}

.project-img img {
  width: 100%;
  padding-bottom: 10px;
}
