/* 
  * Projects  
  */

.project-header {
  padding-bottom: 10px;
}

.project-content {
  display: grid;
  grid-template-columns: 50% auto;
  padding-bottom: 10px;

  div {
    vertical-align: top;
    flex-grow: 1;
  }
  .project-about {
    max-height: 200px;
    max-width: 100%;
    overflow: scroll;
    padding-right: 5px;
  }
  .project-tags {
    max-height: 200px;
    overflow: scroll;
    padding-left: 5px;
    a {
      text-decoration: none;
      display: inline-block;
      background-color: #d1c4e9;
      padding: 5px;
      border-radius: 10px;
      margin-bottom: 3px;
      margin-right: 3px;
    }
  }
}

.course-tag {
  position: absolute;
  right: 5px;
  top: 0px;
  padding: 5px;
  border-radius: 10px;
  text-align: center;
  background-color: #9cd0d0;
}

.project-links {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  background-color: grey;
  a {
    margin: 3px;
    font-size: 1.2em;
    border-radius: 5px;
    text-align: center;
  }
}
