---
---

@import 'globals';
@import 'monokai.css';

.blog-post {
  height: auto;
  width: 100%;
  font-size: 1.5em;
  border: none;
  border-radius: 0px;

  ul,
  li {
    margin-left: 20px;
  }
  .blog-post-content {
    font-weight: 400;

    img {
      float: left;
      margin-right: 20px;
      margin-bottom: 20px;
      max-width: 100%;
      max-height: 260px;
    }
    a {
      color: $font-link;
      // color: #faf1f1;
      text-decoration: underline;
    }

    .floatright {
      float: right;
    }
    figure {
      pre {
        padding: 20px;
      }
    }
  }
}

@media (max-width: 400px) {
  .blog-post {
    .blog-post-content {
      img {
        // width: 100%;
      }
    }
  }
}
