---
---

@import 'globals';

.blog-post {
  height: auto;
  width: 100%;
  font-size: 1.5em;
  border: none;
  border-radius: 0px;

  .blog-post-content {
    font-weight: 400;

    img {
      margin-top: 10px;
      margin-left: 0%;
    }
    a {
      color: $font-link;
      // color: #faf1f1;
      text-decoration: underline;
    }
  }
}

@media (max-width: 400px) {
  .blog-post {
    .blog-post-content {
      img {
        // width: 100%;
      }
    }
  }
}
