---
---

#cloud5 {
  top: 300px;
  left: 20%;
}

#cloud6 {
  top: 200px;
  left: 30%;
}

.section-body {
  grid-template-columns: auto auto;
}

@media (max-width: 1200px) {
  .section-body {
    grid-template-columns: auto;
  }
}
