---
layout: default
custom_css: post-custom
---

{%- capture post_image -%}
{{ page.date | date: "%Y-%m-%d" }}-{{ page.title | remove: " -" | replace: " ", "-" | downcase }}.JPG
{% endcapture %}
<section>

    <div class="section-body">

        <article class="blog-post">
            <p>{{ page.date | date_to_string }}</p>

            <h1>{{ page.title | downcase}}</h1>
            <div class="blog-post-content">
                <hr>
                <br>
                <div>
                    {{ content }}
                </div>
            </div>
        </article>
        <a href="/blog/">
            <h4>more posts</h4>
        </a>
    </div>

</section>