---
layout: default
custom_css: post-custom
---

{%- capture post_image -%}
{{ page.date | date: "%Y-%m-%d" }}-{{ page.title | remove: " -" | replace: " ", "-" | downcase }}.JPG
{% endcapture %}
<section>

    <div class="section-body">

        <article class="blog-post">
            <!-- <div class="img-wrapper">
                <img src="/assets/blog-images/{{post_image}}" alt="Responsive image">
            </div> -->
            <p>{{ page.date | date_to_string }}</p>

            <h3>{{ page.title | downcase}}</h3>
            <div class="blog-post-content">
                <hr>
                <br>
                <div>
                    {{ content }}
                </div>
            </div>
        </article>
        <a href="/blog.html">
            <h4>more posts</h4>
        </a>
    </div>

</section>